/* styles/globals.css */



body {
    font-weight: 400;
    font-family: 'Noto Sans';
}


/*Header */
.header-bg {
    background: #FFD16C url('/images/logo/Headbg.svg') no-repeat top center;
    background-size: auto;
    position: relative;
    background-repeat: repeat-x;
  }
  
  .header-bg:before {
    content: ""; /* This is necessary to generate the pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/images/logo/Headbg.svg'); /* Image URL */
    background-size: cover; /* Cover the area of the element */
    background-position: top center; /* Adjust image position */
    z-index: -1; /* Ensure it's behind other content */
  }
  
.header-text a {
    color:#323232;
    font-size: 18px;
    font-family: 'Noto Sans';
    font-weight: 500;
}
.header-text a:hover {
    color:#FF0000;
}
.header-text:active {
    color:#FF0000;
}

.bg-button a {
    font-weight: 900;
    font-family: 'Noto Sans';
}

.pl-6 {
    padding-left: 1.5rem;
  }
 .pr-6{
    padding-right: 1.5rem;
  }

  /*Footer */
  .dark-bg {
    background: #323232;
}
  .footer-text a {
    color:#fff;
    font-size: 18px;
    font-family: 'Noto Sans';
    font-weight: 500;
}
.footer-p{
    color:#fff;
    font-size: 14px;
    font-family: 'Noto Sans';
    font-weight: 500;
}

.footer-text a:hover {
    color:#FF0000;
}

/*slider */

.bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0);
}

.slider-text {
    color: #fff;
    font-size: 5vw;
    font-family: 'Noto Sans';
    font-weight: 700;
    max-width: 42vw;
    line-height: 5vw;
}
.slider-content {
    font-size: 1.2vw;
    color: #fff;
    font-family: 'Noto Sans';
    margin-top: 1rem;
}
.rounded-full.bg-black {
    width: 30px;
    background-color: #fff !important;
}

/*Fillter*/

.ftext-custom {
    color: #653D27;
    background: #FFD16C;
    border-color: #FFD16C;
    font-weight: 800;
    font-family: 'Noto Sans';
}
.fillter-text label{
    font-size: 18px;
    font-family: 'Noto Sans';
    font-weight: 500;
}
.visibility{
    visibility: hidden;
}
.mt-9{
    margin-top: 2rem;
  }
/*Home About Section */

.heading {
    font-size: 40px;
    font-family: 'Noto Sans';
    font-weight: 700;
    color: #333333;
    line-height: 50px;
}

.description {
    font-size: 20px;
    font-family: 'Noto Sans';
    font-weight: 500;
    color: #333333;
    line-height: 36px;
    margin-bottom: 1em;
    text-align: justify;
}
.h-21 {
    height: 7rem;
}
.icon-text {
    font-size: 18px;
    font-weight: 800;
    color: #333333;
}

.join-us {
    background: #FFD16C;
}
.join-heading {
    font-size: 35px;
    font-family: 'Noto Sans';
    font-weight: 500;
    color: #333333;
    line-height: 40px;
}
.bg-color{
    background: #F8F8F8;
    border: 1px solid #fff;
    font-weight: 600;
    font-family: 'Noto Sans';
    color: #333;
}

.bg-color:hover{
    border: 1px solid #fff;
    background: transparent;
}



/*Recently Married*/

.heading-text {
    font-size: 20px;
    font-family: 'Noto Sans';
    font-weight: 700;
    color: #333333;
}
.heading-description {
    font-size: 15px;
    font-family: 'Noto Sans';
    font-weight: 500;
    color: #333333;
    line-height: 25px;
    margin-bottom: 1em;
    text-align: justify;
}
.slider-padding {
    padding: 3rem;
}
.slider-paddings {
    padding: 1rem;
}
:root {
    --swiper-navigation-size: 28px;
}
.swiper-button-prev, .swiper-button-next {
    color: #686767;
    height: 30px;

}
.text-yellow {
    color: #F8A401;
    font-size: 18px;
}
.sub-heading {
    font-size: 20px;
    font-family: 'Noto Sans';
    font-weight: 700;
    color: #333333; 
}

/*login */
.headertext  {
    color: #323232;
    font-size: 18px;
    font-family: 'Noto Sans';
    font-weight: 900;
}

.text-button {
    color: #fff;
    background: #D13333;
    border-color: #D13333;
}

.text-button:hover {
    color: #ffffff;
    background: #ff0000;
    border-color: #ff0000;
}
.text-dark:hover {
    color: #d13333;
}
input:-internal-autofill-selected {

    background-color: light-dark(rgb(255, 255, 255), rgba(255, 255, 255, 0.4)) !important;
    color: fieldtext !important;
}

.border-stroke {
    --tw-border-opacity: 1;
    border-color: rgb(169 169 169);
}


/*Responsive code*/
@media (min-width: 1024px) {
    .lg\:gap-8{
        gap: 2rem;
      }
    }
@media (min-width: 1536px) {
    .container {
        max-width: 1400px;
    }
}

@media (min-width: 991px) {
.slider-content {
    margin-top: 1em;
    margin-bottom: 2rem;
}

.member-search-form {
    padding: 10px;
 }

}
@media (max-width: 991px) {
    .slider-content {
        font-size: 10px;
        margin-top: 0rem;
        margin-bottom: .5rem;
    }
 }
 
 @media (max-width: 768px) {
    .visibility{
        visibility: initial;
    }
 }


 .inner-page-top-banner{
    position: relative;
    width: 100%;
    margin: 0;
    height: 500px;
 }
 .inner-banner-info{
    position: relative;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
 }
 .in-banner-bg{
    width: 100%;
    height: 100%;
 }
 .inner-banner-info{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    top: 0; 
    background: rgba(216, 140, 74, 0.60);
 }

 .top-title{    
    display: flex;
    justify-content: center;
    align-items: center;

 }
 .top-title h2{
    color: #FFF;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 80px;
    font-weight: 600;
    line-height: 98.16px; 
 }

 .about-info-con{
    display: block;
    width: 100%;
    position: relative;
    padding: 80px 0;
    background: #fff;
 }
 .about-left-media {
    width: 100%;
    height: 100%;
 }
 .media-relative img {
    position: relative!important;
    /* width: auto!important;
    height: auto!important; */
 }

.about-con-desc{
    position: relative;
    width: 100%;
    border-radius: 10px;
    background: #FFF2D7;
    height: 100%;
    padding: 50px;
}
.about-con-desc h3{
    color: #D13333;
    font-family: "Playfair Display";
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 24px;
}

.about-con-desc p{
    color: #000;
    text-align: justify;
    font-family: 'Noto Sans';
    font-size: 18px;
    font-weight: 300;
    line-height: 30px; 
    margin: 0 0 30px;
}
 
.about-our-story{
    margin: 0;
    padding: 80px 0;
    background: #FFD16C;
    display: block;
    width: 100%;
}

.story-right-desc h3{
    color: #D13333;
    font-family: "Playfair Display";
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 24px;
}
.story-right-desc p{
    color: #000;
    text-align: justify;
    font-family: 'Noto Sans';
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin:0 0 15px;
}

.about-we-offer{
    position: relative;
    width: 100%;
    background: #fff;
    display: block;
    margin: 0;
    padding:80px 0;
}
.we-offer-title{
    position: relative;
    width: 100%;
}
.we-offer-title h3{
    color: #333;
    font-family: "Playfair Display";
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 30px;
}

.offer-list-itmes{
    position: relative;
    background: #323232;
    border-radius: 10px;
    padding: 24px;
    height: 100%;
}
.offer-icon{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #FFF2D7;
    margin: 0;
    padding: 0;
    text-align: center;
    margin: 0 0 20px;

}
.offer-icon img{
    max-width: 100%;
    width: auto!important;
    height: auto!important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
}
.offer-list-itmes h4{
    color: #FFF;
    font-family: "Playfair Display";
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 15px;
}
.offer-list-itmes p{
    color: #FFF;
    text-align: justify;
    font-family:'Noto Sans';
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    margin: 0;
}


 @media only screen and (min-width: 768px) {
    .inner-page-top-banner{
        height: 34.72vw;
    }
    .top-title h2{
        font-size: 5.56vw;
        line-height: 6.82vw; 
    }
    .about-info-con{
        padding: 5.56vw 0;
     }  
    .about-con-desc{
        padding: 3.47vw;
    }
    .about-con-desc h3{
        font-size: 2.43vw;
        margin: 0 0 1.67vw;
    }    
    .about-con-desc p{
        font-size: 1.25vw;
        line-height: 2.08vw; 
        margin: 0 0 2.08vw;
    }

    .about-our-story{       
        padding: 5.556vw 0;      
    }    
    .story-right-desc h3{       
        font-size: 2.43vw;        
        margin: 0 0 1.67vw;
    }
    .story-right-desc p{      
        font-size: 1.25vw;      
        line-height: 2.08vw;
        margin:0 0 1.04vw;
    }

    .about-we-offer{
        padding:5.56vw 0;
       }  
       .we-offer-title h3{
           font-size: 2.43vw;
           margin: 0 0 2.08vw;
       }    
       .offer-list-itmes{     
           padding: 1.67vw;
       }
       .offer-icon{
           width: 4.44vw;
           height: 4.44vw;        
           margin: 0 0 1.39vw;    
       } 
       .offer-list-itmes h4{
           font-size: 1.53vw;
           margin: 0 0 1.04vw;
       }
       .offer-list-itmes p{       
           font-size: 1.25vw;        
           line-height: 1.67vw;
       }


}
@media only screen and (min-width: 1600px) {
    .inner-page-top-banner{
        height: 500px;
    }
    .top-title h2{
        font-size: 80px;
        line-height: 98.16px; 
    }

    .about-info-con{
        padding: 80px 0;
     }  
    .about-con-desc{
        padding: 50px;
    }
    .about-con-desc h3{
        font-size: 35px;
        margin: 0 0 24px;
    }    
    .about-con-desc p{
        font-size: 18px;
        line-height: 30px; 
        margin: 0 0 30px;
    }

    .about-our-story{       
        padding: 80px 0;      
    }    
    .story-right-desc h3{       
        font-size: 35px;        
        margin: 0 0 24px;
    }
    .story-right-desc p{      
        font-size: 18px;      
        line-height: 30px;
        margin:0 0 15px;
    }
    .about-we-offer{
     padding:80px 0;
    }  
    .we-offer-title h3{
        font-size: 35px;
        margin: 0 0 30px;
    }    
    .offer-list-itmes{     
        padding: 24px;
    }
    .offer-icon{
        width: 64px;
        height: 64px;        
        margin: 0 0 20px;    
    } 
    .offer-list-itmes h4{
        font-size: 22px;
        margin: 0 0 15px;
    }
    .offer-list-itmes p{       
        font-size: 18px;        
        line-height: 24px;
    }


}

@media (max-width: 767px) {
    .inner-page-top-banner{
        height: 200px;
    }
    .top-title h2{
        font-size: 40px;
        line-height: 40px;
    }
    .about-left-media{
        margin-bottom: 30px;
    }
    .about-info-con{
        padding: 40px 0;
    }
    .about-con-desc{
        padding: 30px;
    }
    .story-left-media{
        margin-bottom: 30px;
    }

    .about-we-offer{
        padding: 50px 0;
    }
    .list-offer-info{
        margin-bottom: 30px;
    }
    .list-offer-info:last-child{
        margin-bottom: 0;
    }

}